.shoelogo { height: 25px; width: 50px; padding-left: 2%; }
.shoe1 { height: 100px; width: 100px; }
.shoe2 { height: 100px; width: 150px; }
.shoe3 { height: 100px; width: 150px; }
.shoe4 { height: 100px; width: 100px; }
.shoppingcart { width: 15px; }
h1 { color: red; font-family: 'PT Sans Narrow', sans-serif;  font-size: 15px;  }
ul { display: inline-block; }
li { display: inline-block; color: red;  margin: 10px; }
.left { width: 40%; position: absolute; left: 5px; text-align: left;  text-decoration: underline; }
.right { width: 40%; position: absolute; right: 5px; text-align: right;}
nav { position: relative;  }
footer { color: red; font-family: 'PT Sans Narrow', sans-serif;  font-size: 10px;  }
ul { display: inline-block; }
li { display: inline-block; color: red;  margin: 10px; }
.left { background-color: green;  width: 30%; position: absolute; left: 5px; text-align: left; }
.right {background-color: yellow; width: 30%; position: absolute; right: 5px; text-align: right; }
